{
  "openapi": "3.1.0",
  "info": {
    "title": "RPBey API",
    "version": "1.0.0",
    "description": "Surface REST versionnée de rpbey.fr — contrat source de vérité (Zod). Consommée par le SDK généré (@rpbey/api-client)."
  },
  "servers": [
    {
      "url": "https://rpbey.fr",
      "description": "production"
    }
  ],
  "paths": {
    "/api/v1/recommend": {
      "get": {
        "operationId": "getRecommendations",
        "summary": "Recommandations produits pondérées (méta-relevance / hype / prix).",
        "tags": [
          "comparateur"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "weights": {
                          "type": "object",
                          "properties": {
                            "metaRelevanceWeight": {
                              "type": "number"
                            },
                            "hypeWeight": {
                              "type": "number"
                            },
                            "priceEfficiencyWeight": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "metaRelevanceWeight",
                            "hypeWeight",
                            "priceEfficiencyWeight"
                          ],
                          "additionalProperties": false
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "code": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "cheapestEur": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "shopCount": {
                                "type": "number"
                              },
                              "imageUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "offers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "shop": {
                                      "type": "string"
                                    },
                                    "domain": {
                                      "type": "string"
                                    },
                                    "region": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "currency": {
                                      "type": "string"
                                    },
                                    "priceEur": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "available": {
                                      "type": "boolean"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "image": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "shop",
                                    "domain",
                                    "region",
                                    "type",
                                    "title",
                                    "price",
                                    "currency",
                                    "priceEur",
                                    "available",
                                    "url",
                                    "image"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "metaRelevanceScore": {
                                "type": "number"
                              },
                              "hypeScore": {
                                "type": "number"
                              },
                              "priceEfficiencyScore": {
                                "type": "number"
                              },
                              "overallScore": {
                                "type": "number"
                              },
                              "includedParts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "usageCount": {
                                      "type": "number"
                                    },
                                    "normalizedUsage": {
                                      "type": "number"
                                    },
                                    "tier": {
                                      "type": "string",
                                      "enum": [
                                        "S",
                                        "A",
                                        "B",
                                        "C"
                                      ]
                                    },
                                    "metaScore": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "type",
                                    "usageCount",
                                    "normalizedUsage",
                                    "tier",
                                    "metaScore"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "classifications": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "key",
                              "code",
                              "name",
                              "slug",
                              "cheapestEur",
                              "shopCount",
                              "imageUrl",
                              "offers",
                              "metaRelevanceScore",
                              "hypeScore",
                              "priceEfficiencyScore",
                              "overallScore",
                              "includedParts",
                              "classifications"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "count",
                        "weights",
                        "data"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Erreur de requête ou de validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "5XX": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "metaRelevanceWeight",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "hypeWeight",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "priceEfficiencyWeight",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "minMetaRelevance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "minHypeScore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "minPriceEfficiency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "maxPriceEur",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "name": "productType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productLine",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availableOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/search": {
      "get": {
        "operationId": "globalSearch",
        "summary": "Recherche globale Beyblade toutes saisons (produits, beys, pièces, combos, tournois, bladers, anime, lexique, sites). `q` absent = index complet ; sinon classement BM25F + facettes.",
        "tags": [
          "comparateur"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "subtitle": {
                                "type": "string"
                              },
                              "category": {
                                "type": "string",
                                "enum": [
                                  "product",
                                  "part",
                                  "tournament",
                                  "blader",
                                  "lexicon",
                                  "combo",
                                  "anime",
                                  "frame",
                                  "site",
                                  "page",
                                  "discussion",
                                  "meta"
                                ]
                              },
                              "url": {
                                "type": "string"
                              },
                              "details": {
                                "type": "string"
                              },
                              "badge": {
                                "type": "string"
                              },
                              "price": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "thumbnail": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              },
                              "popularity": {
                                "type": "number"
                              },
                              "score": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "subtitle",
                              "category",
                              "url"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "query": {
                          "type": "string"
                        },
                        "facets": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "number"
                          }
                        }
                      },
                      "required": [
                        "count",
                        "data"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Erreur de requête ou de validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "5XX": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "product",
                "part",
                "tournament",
                "blader",
                "lexicon",
                "combo",
                "anime",
                "frame",
                "site",
                "page",
                "discussion",
                "meta"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 500
            }
          }
        ]
      }
    },
    "/api/v1/meta": {
      "get": {
        "operationId": "getMeta",
        "summary": "Méta-analyse hebdomadaire des pièces Beyblade X (tournois WBO), enrichie stats/images.",
        "tags": [
          "meta"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "scrapedAt": {
                                  "type": "string"
                                },
                                "periods": {
                                  "type": "object",
                                  "properties": {
                                    "2weeks": {
                                      "type": "object",
                                      "properties": {
                                        "metadata": {
                                          "type": "object",
                                          "properties": {
                                            "dataSource": {
                                              "type": "string"
                                            },
                                            "weekId": {
                                              "type": "string"
                                            },
                                            "startDate": {
                                              "type": "string"
                                            },
                                            "endDate": {
                                              "type": "string"
                                            },
                                            "eventsScanned": {
                                              "type": "number"
                                            },
                                            "partsAnalyzed": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "dataSource",
                                            "weekId",
                                            "startDate",
                                            "endDate",
                                            "eventsScanned",
                                            "partsAnalyzed"
                                          ],
                                          "additionalProperties": false
                                        },
                                        "categories": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "category": {
                                                "type": "string"
                                              },
                                              "components": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "score": {
                                                      "type": "number"
                                                    },
                                                    "position_change": {
                                                      "anyOf": [
                                                        {
                                                          "type": "number"
                                                        },
                                                        {
                                                          "type": "string",
                                                          "const": "NEW"
                                                        }
                                                      ]
                                                    },
                                                    "synergy": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "name": {
                                                            "type": "string"
                                                          },
                                                          "score": {
                                                            "type": "number"
                                                          },
                                                          "imageUrl": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "name",
                                                          "score"
                                                        ],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "stats": {
                                                      "type": "object",
                                                      "properties": {
                                                        "attack": {
                                                          "type": "number"
                                                        },
                                                        "defense": {
                                                          "type": "number"
                                                        },
                                                        "stamina": {
                                                          "type": "number"
                                                        },
                                                        "dash": {
                                                          "type": "number"
                                                        },
                                                        "burst": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "required": [
                                                        "attack",
                                                        "defense",
                                                        "stamina",
                                                        "dash",
                                                        "burst"
                                                      ],
                                                      "additionalProperties": false
                                                    },
                                                    "imageUrl": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "name",
                                                    "score",
                                                    "position_change",
                                                    "synergy"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              }
                                            },
                                            "required": [
                                              "category",
                                              "components"
                                            ],
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "required": [
                                        "metadata",
                                        "categories"
                                      ],
                                      "additionalProperties": false
                                    },
                                    "4weeks": {
                                      "type": "object",
                                      "properties": {
                                        "metadata": {
                                          "type": "object",
                                          "properties": {
                                            "dataSource": {
                                              "type": "string"
                                            },
                                            "weekId": {
                                              "type": "string"
                                            },
                                            "startDate": {
                                              "type": "string"
                                            },
                                            "endDate": {
                                              "type": "string"
                                            },
                                            "eventsScanned": {
                                              "type": "number"
                                            },
                                            "partsAnalyzed": {
                                              "type": "number"
                                            }
                                          },
                                          "required": [
                                            "dataSource",
                                            "weekId",
                                            "startDate",
                                            "endDate",
                                            "eventsScanned",
                                            "partsAnalyzed"
                                          ],
                                          "additionalProperties": false
                                        },
                                        "categories": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "category": {
                                                "type": "string"
                                              },
                                              "components": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "score": {
                                                      "type": "number"
                                                    },
                                                    "position_change": {
                                                      "anyOf": [
                                                        {
                                                          "type": "number"
                                                        },
                                                        {
                                                          "type": "string",
                                                          "const": "NEW"
                                                        }
                                                      ]
                                                    },
                                                    "synergy": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "name": {
                                                            "type": "string"
                                                          },
                                                          "score": {
                                                            "type": "number"
                                                          },
                                                          "imageUrl": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "name",
                                                          "score"
                                                        ],
                                                        "additionalProperties": false
                                                      }
                                                    },
                                                    "stats": {
                                                      "type": "object",
                                                      "properties": {
                                                        "attack": {
                                                          "type": "number"
                                                        },
                                                        "defense": {
                                                          "type": "number"
                                                        },
                                                        "stamina": {
                                                          "type": "number"
                                                        },
                                                        "dash": {
                                                          "type": "number"
                                                        },
                                                        "burst": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "required": [
                                                        "attack",
                                                        "defense",
                                                        "stamina",
                                                        "dash",
                                                        "burst"
                                                      ],
                                                      "additionalProperties": false
                                                    },
                                                    "imageUrl": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "name",
                                                    "score",
                                                    "position_change",
                                                    "synergy"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              }
                                            },
                                            "required": [
                                              "category",
                                              "components"
                                            ],
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "required": [
                                        "metadata",
                                        "categories"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  "required": [
                                    "2weeks",
                                    "4weeks"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "required": [
                                "scrapedAt",
                                "periods"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "data"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Erreur de requête ou de validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "5XX": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parts": {
      "get": {
        "operationId": "listParts",
        "summary": "Catalogue public des pièces Beyblade X (filtres + pagination).",
        "tags": [
          "parts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "nameJp": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "beyType": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "weight": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "attack": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "defense": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "stamina": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "burst": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "dash": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "height": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "protrusions": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "gearRatio": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "shaftWidth": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "tipType": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "releaseDate": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "imageUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "rarity": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "modelUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "textureUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "spinDirection": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "system": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "createdAt": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "updatedAt": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "externalId",
                              "name",
                              "type"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "total": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "parts",
                        "total",
                        "totalPages"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Erreur de requête ou de validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "5XX": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "systems",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beyTypes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/api/v1/rankings": {
      "get": {
        "operationId": "getRankings",
        "summary": "Classements RPB (SATR / Wild Breakers / Stardust par saison ou carrière, ou leaderboard global pondéré).",
        "tags": [
          "rankings"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string",
                          "enum": [
                            "satr",
                            "wb",
                            "stardust",
                            "global"
                          ]
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "ranking",
                            "career"
                          ]
                        },
                        "season": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "rank": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "playerName": {
                                    "type": "string"
                                  },
                                  "score": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "wins": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "losses": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "participation": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "winRate": {
                                    "type": "string"
                                  },
                                  "pointsAverage": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "description": "ISO 8601 date-time string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "updatedAt": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "description": "ISO 8601 date-time string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "rank",
                                  "playerName",
                                  "score",
                                  "wins",
                                  "losses",
                                  "participation",
                                  "winRate",
                                  "pointsAverage"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "totalWins": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "totalLosses": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "tournamentWins": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "tournamentsCount": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "history": {
                                    "anyOf": [
                                      {},
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "linkedUserId": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "createdAt": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "description": "ISO 8601 date-time string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "updatedAt": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "description": "ISO 8601 date-time string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "totalWins",
                                  "totalLosses",
                                  "tournamentWins",
                                  "tournamentsCount"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "playerName": {
                                    "type": "string"
                                  },
                                  "userId": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "points": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "wins": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "losses": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "tournamentWins": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "tournamentsCount": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "avatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "updatedAt": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "description": "ISO 8601 date-time string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "playerName",
                                  "points",
                                  "wins",
                                  "losses",
                                  "tournamentWins",
                                  "tournamentsCount"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          }
                        },
                        "total": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "totalPages": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "lastUpdate": {
                          "anyOf": [
                            {
                              "type": "string",
                              "description": "ISO 8601 date-time string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "kind",
                        "view",
                        "season",
                        "items",
                        "total",
                        "totalPages",
                        "lastUpdate"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Erreur de requête ou de validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "5XX": {
            "description": "Erreur serveur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "ok",
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "default": "global",
              "type": "string",
              "enum": [
                "satr",
                "wb",
                "stardust",
                "global"
              ]
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "default": "ranking",
              "type": "string",
              "enum": [
                "ranking",
                "career"
              ]
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "default": 100,
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          }
        ]
      }
    },
    "/api/v1/users/{id}": {
      "get": {
        "operationId": "getPublicUser",
        "summary": "Profil joueur public (compte + profil agrégé) par identifiant.",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "image": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "createdAt": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "description": "ISO 8601 date-time string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "discordTag": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "nickname": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "serverAvatar": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "globalName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "roles": {
                                  "anyOf": [
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "profile": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "bladerName": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "displayName": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "pronouns": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "favoriteType": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "favoriteSeason": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "experience": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "bio": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "bannerImage": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "deckBoxImage": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "accentColor": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "wins": {
                                          "type": "integer",
                                          "minimum": -9007199254740991,
                                          "maximum": 9007199254740991
                                        },
                                        "losses": {
                                          "type": "integer",
                                          "minimum": -9007199254740991,
                                          "maximum": 9007199254740991
                                        },
                                        "tournamentWins": {
                                          "type": "integer",
                                          "minimum": -9007199254740991,
                                          "maximum": 9007199254740991
                                        },
                                        "rankingPoints": {
                                          "type": "integer",
                                          "minimum": -9007199254740991,
                                          "maximum": 9007199254740991
                                        },
                                        "duelRating": {
                                          "type": "integer",
                                          "minimum": -9007199254740991,
                                          "maximum": 9007199254740991
                                        },
                                        "challongeUsername": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "country": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "region": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "city": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "twitterHandle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "tiktokHandle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "instagramHandle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "youtubeHandle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "twitchHandle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "discordHandle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "websiteUrl": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "favoriteBeyblade": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "imageUrl": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "beyType": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "name"
                                              ],
                                              "additionalProperties": false
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "favoriteDeck": {
                                          "anyOf": [
                                            {
                                              "type": "object",
[...]
